@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:henrique.riccio@iconware.com.br">henrique.riccio@iconware.com.br</a></span>
    </p>
    <p>
        <span class="label">Twitter:</span>
        <span>@@henriquericcio</span>
    </p>
    <p>
        <span class="label">Github:</span>
        <span><a href="http://github.com/henriquericcio">http://github.com/henriquericcio</a></span>
    </p>
</section>